# Python
**/venv/
**/__pycache__/
**/*.py[cod]
**/*.so
**/dist/
**/build/
**/*.egg-info/
**/.eggs/
**/.pytest_cache/
**/.coverage
**/htmlcov/

# Go
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib
**/*.test
**/*.out

# IDE
**/.idea/
**/.vscode/
**/*.swp
**/*.swo

# Rust
**/target/
